$oscuro: #202923;
$claro: #dcedd5;
$fondoClaro: #ffffff;
$fondoClaroArticulos: rgb(206, 255, 196);
$fondoOscuroArticulos: rgb(70, 84, 67);
$btnsModoOscuro: rgb(122, 218, 101);
$btnsModoClaro:rgb(83, 186, 67);


$grisClaro: #C8C8C8;
$grisClaroHover: #ACABAB;
$azul: #3E60E9;
$azulHover: #254BE6;

$sombraDark: 10px 10px 20px rgba(170,170,170,.16);
$sombraLight: 10px 10px 20px rgba(0,0,0,.16);



